body {
  margin: 0;
}

.site-header {
  background-color: #0099ee;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.site-header nav {
  float: right;
}

.site-logo {
  float: left;
}

.site-logo img {
  width: 140px;
}
